@{
    ViewBag.Title = "Home Page";
}



<div class="overlay snipcss0-0-0-1 snipcss-QaD3n" style="background-image: url('https://nec.edu.in/wp-content/themes/vajra/assets/images/post-default.jpg')">
    <div class="container2 snipcss0-1-1-2">
        <div class="row snipcss0-2-2-3">
            <div class="col-md-12 snipcss0-3-3-4">
                <div class="col-table snipcss0-4-4-5">
                    <div class="col-vcont snipcss0-5-5-6">
                        <h1 class="snipcss0-6-6-7">
                            NEC PLACEMENT PORTAL
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="place-address" class="section place-address foo snipcss-V3VIh" data-sr-id="2" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="box-white">
                    <h2 class="col-title">
                        contact
                    </h2>
                    placement@nec.edu.in
                    <br>
                    04632 – 226955, 222502 ext:1062 &amp; 1025
                    <br>
                    www.nec.edu.in
                    <br>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-white">
                    <h2 class="col-title">
                        DEAN-Training and Placement Centre
                    </h2>
                    Dr.K.G.Srinivasagan
                    <br>
                    94421 42502
                    <br>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-white">
                    <h2 class="col-title">
                        Placement Convener
                    </h2>
                    Mr.V.Manimaran
                    <br>
                    94432 30265
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>
