body {
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0;
    color: green;
}
.color{
    background-color:gray;
}

.table {
    color: green;
}

.h {
  
    width: 100%;
    height: 50px;
    background-color:deepskyblue;
}
.jai1 {
    color:deepskyblue;
    position: absolute;
    top: 13%;
    left: 23%;
}

.jai {
    padding-top: 2em;
    text-align: left;
}

.jai2 {
    position: absolute;
    left: 75%;
    top: 16%;
    text-align: right;
    color: red;
}


