.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0;
    color: black;
}

.table {
    color:black;
}


.jai1 {
  
    color:green;
    position:absolute;
    top:13%;
    left:25%;
}

.jai {
    padding-top: 2em;
    text-align: left;
}

.jai2 {
    position: absolute;
    left: 80%;
    top:16%;
    text-align: right;
    color: black;
}

